.size0{
	font-size: 35vw;
}
.size1{
	font-size: 20vw;
}
.size2{
	font-size: 13vw;
}
.size3{
	font-size: 8.5vw;
}
.size4{
	font-size: 7.5vw;
}
.size5{
	font-size: 6.5vw;
}
.size6{
	font-size: 6vw;
}
.size7{
	font-size: 5.2vw;
}
.size8{
	font-size: 4.4vw;
}
.size9{
	font-size: 3.8vw;
}
.size10{
	font-size: 3.2vw;
}
.size11{
	font-size: 2.7vw;
}
.size12{
	font-size: 2.0vw;
}
.size14{
	font-size: 1.8vw;
}
.size15{
	font-size: 1.7vw;
}
.size16{
	font-size: 1.6vw;
}
.size17{
	font-size: 2vw;
}
.size18{
	font-size: 1.8vw;
}
.size19{
	font-size: 1.6vw;
}
.size20{
	font-size: 1.4vw;
}
.size21{
	font-size: 1.2vw;
}
.size22{
	font-size: 1vw;
}
.size23{
	font-size: 0.9vw;
}
.size24{
	font-size: 0.8vw;
}
.size25{
	font-size: 0.7vw;
}
.size26{
	font-size: 0.6vw;
}

.final{
	font-size: 0.6vw;
}